<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanyue.cas.mapper.BaseGroupTypeMapper">

	<sql id="baseGroupTypeColumnsNotA">
		id as id,
		code as code,
		name as name,
		description as description,
		DEL_FLAG as delFlag,
		CRT_BY as crtBy,
		CRT_TIME as crtTime,
		UPD_BY as updBy,
		UPD_TIME as updTime
	</sql>

</mapper>